### Build folders
bin*
build*

### Latex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.pdf
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz

### Doxygen
*.in

### macOS
*.DS_Store

### Temporary files
*~